body{
    background-color:cyan;
}
.principal{
    font-size:xxx-large;
    font-family: "Beth Ellen", cursive;
}
.linea{
    background-color:aquamarine;
    font-size: x-large;
}
.ig{
    color:orangered;
}
.espaciadoArriba{
    padding-top: 20px;
}
.espaciadoAbajo
{
    padding-bottom: 10px;
}
.productos{
    display: flex;    
}
.caja{
    background-color: brown;
    margin: 10px;
    padding: 5px;
    color: cornsilk;
    border: 5px;
    border-color:coral;
    border-radius: 7%;
}
.precio{
    color:ghostwhite;
}