body{
    background-color:cyan;
}
.principal{
    font-size:xxx-large;
    font-family: "Beth Ellen", cursive;
}
.linea{
    background-color:aquamarine;
    font-size: x-large;
}
.ig{
    color:orangered;
}
.espaciado{
    padding-top: 20px;
    padding-bottom: 10px;
}